<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-900 w-10/12 mx-auto">
    <div class="mt-5">
        <form class="w-[50%] mx-auto pb-5" action="/create" method="post">
            <input type="text" name="title" placeholder="Enter File Name" class="bg-gray-800 w-full mb-2 block text-white outline-none rounded-lg p-2">
            <textarea name="details" placeholder="Enter Data" class="bg-gray-800 w-full mb-2 block text-white outline-none rounded-lg p-2"></textarea>
            <button type="submit" value="create task" class="bg-blue-600 mx-auto mb-2 block px-5 py-2 text-white rounded-lg">Create</button>
        </form>
        
        <div class="flex flex-col w-full gap-3">
            <% if(files.length > 0){ %>
                <% files.forEach((file, index)=>{ %>
                    <div class="bg-gray-800 flex justify-between items-center rounded-lg px-5 py-2 text-white">
                        <h1 class="text-xl"><%= file %></h1>
                        <div class="flex gap-2">
                            <a class="text-blue-600" href="/files/<%=file %>">Open</a>
                            <a class="text-blue-600" href="/rename/<%=file %>">Rename</a>
                        </div>
                    </div>
                <% }) %>
            <% }else{ %>
                <div class="text-gray-600">No Task yet.</div>
            <% } %>
        </div>
    </div>
</body>
</html>