<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-gray-900 w-10/12 mt-5 mx-auto">
    <a href="/" class="text-blue-600">Back to home</a>
    <div class="flex flex-wrap gap-5">
        <div class="mt-10 text-white bg-gray-800 w-10/12 mx-auto rounded-lg p-3">
            <h1 class="text-md text-gray-400 mb-5"><%=filename%></h1>
            <p class="text-lg"><%=fileData%></p>
        </div>
    </div>
</body>
</html>