<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-5">
        <form method="post" action="/register">
            <input class="py-2 px-3 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="text" name="name" placeholder="Enter Name"/>
            <input class="py-2 px-3 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="text" name="userName" placeholder="Enter User Name"/>
            <input class="py-2 px-3 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="number" name="age" placeholder="Enter Age"/>
            <input class="py-2 px-3 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="email" name="email" placeholder="Enter Email"/>
            <input class="py-2 px-3 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="password" name="password" placeholder="Enter Password"/>
            <input class="py-2 px-5 rounded-md bg-blue-600 ouline-none" type="submit" value="Create User"/>
        </form>
    </div>
</body>
</html>