<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-5">
        <h1 class="text-4xl mb-5">Upload Profile Picture</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" class="py-1  px-1 resize-none rounded-md bg-transparent border-2 border-zinc-800 outline-none" name="content"></input>
            <input class="py-2 px-5 rounded-md bg-yellow-500 text-black ouline-none" type="submit" value="Upload File"/>
        </form>
    </div>
</body>
</html>